img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.h1{
    color: #ffffff;
}

.div{
    color: #ffffff;
}

.h2{
    color: #ffffff;
}

.box{
    display:flex;
    align-items: center;
    justify-content: center;
}

.titleSearch{
    float: left;
    width: 100%;
    font-size: 16px;
    flex: 1;
}

.searchContainer{
    padding: 0px 150px 50px 150px;
    background-color: rgb(33, 33, 31);
}

.sendPreferencesBtn{
    margin: 10px;
}

.searchBackground{
    background-image: url("../src/images/searchBackground.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.mainBackground{
    background-image: url("../src/images/main.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.likesBackground{
    background-image: url("../src/images/DiskStack.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.inline-block-child {
    display: inline-block;
  }


html,body{
    margin: 0;
    height: 100%;
}